@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@theme {
    --color-dark: #161616;
    --color-light: whitesmoke;
    --color-medium: burlywood;
    --color-darkish: rgba(22, 22, 22, 0.6);

    /* Legacy, for reference: */
    --color-astarion: rgba(117, 42, 42, 0.2);
    --color-gale: rgba(42, 52, 117, 0.2);
    --color-laezel: rgba(117, 97, 42, 0.2);
    --color-shadowheart: rgba(81, 42, 117, 0.2);
    --color-wyll: rgba(42, 117, 62, 0.2);
    --color-karlach: rgba(117, 68, 42, 0.2);

    --font-serif: 'Newsreader', Georgia, 'Times New Roman', Times, serif;
    --font-sans: 'Open Sans', sans-serif;

    --shadow-mist: 0px 0px 50px 50px rgba(22, 22, 22, 0.6);
    --shadow-feature: 0px 0px 3px 3px rgba(222, 184, 135, 0.3);

}



/* -------------------------------------
 * Some native CSS I allowed myself to use
 * because it's way more efficient than Tailwind classes for every friggin' HTML tag
 * because Tailwind does not include some things yet
 * or because some Tailwiind classes do not work.
 * ------------------------------------- */

img {max-width: 100%;}

p + p, ul + ul, ul + p {margin-top: 1lh;}

section#banner {
    /* For some reason, the Tailwind code for background-image didn't work (I checked the paths) */
    background-image: url('../public/img/banner.png');
}

section#custom {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../public/img/play2.jpg')
    ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section#races {
    #raceThumbnails img {
        opacity: 0.5;

        &.activeRaceThumb {
            opacity: 1;
        }
    }

    #raceInfos article {
        display: none;

        &.activeRaceInfo {
            display: grid;
        }
    }
}

section#companions {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../public/img/companions.jpg')
    ;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;


    & > div {
        background-size: cover;
        background-attachment: fixed;

        &#astarion {
            background-image:
                linear-gradient(rgba(64, 19, 19, 0.8), rgba(64, 19, 19, 0.8)),
                url('../public/img/characters/astarion_bg.jpg')
            ;
            background-position: right;
        }

        &#gale {
            background-image:
                linear-gradient(rgba(19, 35, 61, 0.8), rgba(19, 35, 61, 0.8)),
                url('../public/img/characters/gale_bg.jpg')
            ;
            background-position: right;
        }

        &#laezel {
            background-image:
                linear-gradient(rgba(73, 60, 22, 0.8), rgba(73, 60, 22, 0.8)),
                url('../public/img/characters/laezel_bg.jpg')
            ;
            background-position: center;
        }

        &#shadowheart {
            background-image:
                linear-gradient(rgba(46, 22, 68, 0.8), rgba(46, 22, 68, 0.8)),
                url('../public/img/characters/shadowheart_bg.jpg')
            ;
            background-position: right;
        }

        &#wyll {
            background-image:
                linear-gradient(rgba(11, 45, 21, 0.8), rgba(11, 45, 21, 0.8)),
                url('../public/img/characters/wyll_bg.jpg')
            ;
            background-position: right;
        }

        &#karlach {
            background-image:
                linear-gradient(rgba(73, 32, 20, 0.8), rgba(73, 32, 20, 0.8)),
                url('../public/img/characters/karlach_bg.jpg')
            ;
            background-position: right;
        }
    }

    
}

/* Tailwind >= lg: */
@media (width >= 64rem) {
    section#companions {
        & > div:nth-child(even):not(:first-of-type) {
            div[id*='-narrative'] > div:has(img) {
                order: 2;
            }
        }
    }
}

section#news {
    article {
        background-size: cover;
        background-position: center;

        &:first-of-type {
            background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)), url('../public/img/news1.webp');
        }

        &:nth-of-type(2) {
            background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)), url('../public/img/news2.jpg');
        }

        &:nth-of-type(3) {
            background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)), url('../public/img/news3.jpg');
        }

        &:nth-of-type(4) {
            background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)), url('../public/img/news4.webp');
        }
    }
}

section#faq details[open] {
    summary {margin-bottom:2rem;}
}

section#buynow {
    /* For some reason, the Tailwind code for background-image didn't work */
    background-image: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)), url('../public/img/city.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.dropping-shadow {
    /*
     * Tailwind drop-shadow- classes don't work.
     * Probably because they include 'backdrop-filter', and browsers only seem to recognize 'filter'
     */
    
    filter: drop-shadow(2px 2px 10px rgb(22, 22, 22));
}

/*
               <p class="text-2xl text-shadow-md/30">
                  Gather your party and return to the Forgotten Realms in a tale of fellowship and betrayal, sacrifice and survival, and the lure of absolute power.
                  Mysterious abilities are awakening inside you, drawn from a mind flayer parasite planted in your brain. Resist, and turn darkness against itself. Or embrace corruption, and become ultimate evil.
                </p>
                <p class="text-2xl text-shadow-md/30">
                  Forged with the new Divinity 4.0 engine,
                  <i>Baldur's Gate 3</i> gives you unprecedented freedom to explore, experiment, and interact with a thriving world filled with characters, dangers, and deceit. A grand, cinematic narrative brings you closer to your characters than ever before. From shadow-cursed forests, to the magical caverns of the Underdark, to the sprawling city of Baldur’s Gate itself, your actions define the adventure,
                  but your choices define your legacy. You will be remembered.
                </p>

*/